body {
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    text-align: center;
    font-size: 24px;
}
#colorChanger {
    width: 150px;
    height: 70px;
    display: block;
    background-color: black;
    color: white;
    font-size: 24px;
    border-radius: 10px;
}
#colorValue{
    display: block;
}